{% extends "patient/base.html" %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}

<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Here!!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" style="margin-top:5px">Register</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Registered?<a class="ml-3" href={%url 'pat-login'%}>Click Here!</a>
                </small>
            </div>
        </form>
    </div>
    <div class="overlay-container">
        <div class="box" style="height: 480px; width: 538px; background: url('{% static 'logos/prf.png' %}') no-repeat; background-size: cover;"></div>

    </div>
</div>
{% endblock %}